.fightarea {
  display: flex;
  gap: 20px;
}

#char,
#monster {
  flex: 1;
}

.lifebar {
  height: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

.lifebar .bar {
  height: inherit;
  border-radius: inherit;
}

#char .bar {
  background-color: green;
}
#monster .bar {
  background-color: red;
}

.log {
  border: 1px dotted #999;
  height: 200px;
  overflow-y: scroll;
}

.log li {
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.log li.char {
  color: green;
}

.log li.monster {
  color: red;
}
